@media only screen and (max-width: 425px) {

    .container-head {
        padding: 50vw 16vw 0 16vw;
    }

    .text-sm {
        font-size: 4vw;
    }
    
    .text-lg {
        font-size: 10vw;
    }

    /* 02 --input-- */
    .enter-word input {
        margin-top: 3vh;
        padding: 1.2vw 1.5vw;
        max-width: 100vw;
        font-size: 1.2em;
    }

    .enter-word button {
        width: 24vw;
        margin: 6vw 0 18vw 0;
        padding: 1.2vw 0;
        font-size: .9em;
    }

    .enter-word button:hover {
        font-size: 1em;
    }

    /* 03 --details-- */
    .container-body {
        padding: 0 6vw;
    }
    
    .def-opt button {
        padding: 1.2vw 0;
        font-size: .8em;
    }

    .def-des {
        padding: 2vw;
        font-size: .7em;
    }
}