@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Livvic:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --blue: #E0FFF9;
  --red: #FF7878;
}

* {
  font-family: 'Livvic', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  background-color: var(--blue);
}
